<h1><font color=teal size=55>Edit <%= @line.name %></font></h1>

<%= render 'form' %>

<p>
  <font face="Verdana"><%= link_to 'Back to All Lines', train_lines_url %></font>
</p> 
<p>
  <font face="Verdana"><%= link_to 'Back to Line Details', train_line_url(@line.id) %></font>
</p>
