<h1>
  <font color=salmon size=30 face="Arial">
    All Our Choo Choos!
  </font>
</h1>

<% @lines.each do |line| %>
	<p>
	  <font color=teal size=6 face="Verdana">
	    <%= link_to line.name, train_line_url(line.id) %>
	  </font>
	  <font color=torqoise size=3 face="Verdana">
	    <%= link_to "Delete", train_line_url(line.id), :method => :delete %>
	  </font>
	</p>
<% end %>

<p>
  <font color=teal face="Verdana">
    <%= link_to "Add a New Train Line", new_train_line_url %>
  </font>
</p>
