<h1>
  <font color=salmon size=30 face="Arial">
    Create A New Choo
  </font>
</h1>

<%= render 'form' %>
	
<p>
  <font color=teal face="Verdana">
    <%= link_to "Back to Homepage & List of All Lines", train_lines_url %>
  </font>
</p>